version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dependencies:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/vsix"
    schedule:
      interval: "weekly"
  - package-ecosystem: "cargo"
    directory: "/zed-extension"
    schedule:
      interval: "weekly"
    groups:
      dependencies:
        patterns:
          - "*"
