.vscode/**
.vscode-test/**
out/test/**
src/**
tsconfig.json
.eslintrc.json
.eslintignore
.gitignore
.git/**
node_modules/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-jsonrpc/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
!node_modules/semver/**
!node_modules/balanced-match/**
